.view {
	font-size: 1.6rem;
	
	.container--panel {
		width: 10%;
		vertical-align: top;
	}
}
.panel-list {
	width: 100%;
	height: 95%;
	margin: auto 0;
	list-style: none;
}

.panel__logo {
	max-width: 100%;
}

.panel-list-item {
	display: block;
	text-align: center;
	background: white;
	box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
	border-radius: 3px;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 5%;
	overflow-wrap: break-word;
	transition: 0.5s transform;

	&:hover {
		transform: scale(1.05);
	}

	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		padding: 1rem;
	}
}