.view {
  width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  max-width: 177.78vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
	display: inline-flex;
	width: 90%;
	height: 100%;	
}

.col {
	width: 50%;
	height: 100%;

	.row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50%;
	}
}

.col:last-of-type {

	.row {
		height: 100%;

		.component {
			height: 95%;
			width: 90%;
		}
	}
}